@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{
  font-family: 'Inter', sans-serif;
}
a{
  text-decoration:none;
}

.tooltip{
  position: relative;
  width: 40px;
}

.tooltip-trigger{
  display:  flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: none;
  background: #FFFFFF;
  border-radius: 50%;

  transition: 300ms background;
}

.tooltip-trigger:hover{
  background: #999B9E;
}

.tooltip-content{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  position: absolute;
  Width: 155px;
  Height: 65px;
  left: 0;
  opacity: 1;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(1);
  transition: 200ms 100ms opacity, 300ms 100ms transform;
}

.tooltip_note_postion{
  top: -210%;
}


.tooltip-content a{
  color:transparent;
  font-size: 5px;
  width: 25px;
  height: 25px;
  font-weight: 300;
  display: block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  transition: 300ms color;
}

.tooltip-trigger:hover{
  background-color: #999B9E;
}
  .tooltip-trigger:hover .form__icon{
    fill: #ffffff;
  }

.hidden{
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  z-index: -1;
}
.color_circle {
    display: block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    float: left;
}
.color_circle--white {
    background: white;
    border: solid 1px #999B9E;
}

.color_circle--red {
    background: red;
}

.color_circle--mustard {
    background: greenyellow;
}

.color_circle--yellow {
    background: yellow;
}

.color_circle--green {
    background: green;
}

.color_circle--hex {
    background: peru;
}

.color_circle--light-blue {
    background: lightblue;
}

.color_circle--blue {
  background: blue;
}

.color_circle--purple {
    background: purple;
}

.color_circle--pink {
    background: pink;
}